h1{
	text-align: center;
	font-size: 40px;
}
.for_form{
	width: 350px;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.for_form input{
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	font-size: 18px;
	width: 290px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 60px;
}
.for_form button{
	border: none;
    background: transparent;
    position: absolute;
    top: 12px;
    right: -14px;
}
.for_form input:focus{
	outline-color: #808B96;

}
